<div class="container-fluid">
  <ul class="backgrounds" (swipeleft)="swLeft($event,i)" (swipeRight)="swRight($event, i)">
    <li *ngFor="let pane of panes; let i = index" [class.hide]="i != active" class="container">
      <div class="row" style="margin: 0">
        <div class="col-12" style="padding: 0;">
          <div class="text-center" style="padding: 20px; background-color: #78ff78bd">
            <h1 style="border: 1px solid white; border-radius: 10px; margin: 0; padding: 10px; background: white; color: darkgrey;">name {{i}}</h1>            
          </div>
          <div>
            <ul style="list-style: none; padding: 0; margin: 10px; overflow-y: scroll">
              <li style="display: inline-block;">25 November</li>
              <li style="display: inline-block; color: grey; float: right;">
                <span style="padding: 0px 10px;">{{expired.length}}</span>
                <span style="padding: 0px 10px; color: red;">2</span>
                <span style="padding: 0px 10px; color: yellow">1</span>
              </li>              
            </ul>           
          </div>
        </div>
      </div>
    </li>
    <li [class.hide]="active != panes.length" class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center" style="background-color: #78ff78bd; border: 1px solid white; margin: 0; color: darkgrey;">
            <div style="padding: 20px; min-height: 150px; margin: 20px; background-color: white; border-radius: 10px;">
              <h1 style="font-size: 20px; font-weight: 300;">Add list</h1>
              <div><i class="fas fa-plus fa-3x"></i></div>
            </div>             
          </div>
        </div>
      </div>
    </li>
    <!-- <li class="background hide" style="background-color: #4986e7;"></li>
    <li class="background hide" style="background-color: #d06b64;"></li>
    <li class="background hide" style="background-color: #42d692;"></li>
    <li class="background hide" style="background-color: #4986e7;"></li> -->
  </ul>
</div>

<!-- VERSION 2 -->
<!-- <div class="container-fluid" (swipeleft)="left($event)" style="padding: 0; background-color: blueviolet">
  <div class="row" style="margin: 0;">
    <div class="col-12" style="padding: 0;">
      <div class="text-center" style="padding: 20px; background-color: #78ff78bd"><h1 style="border: 1px solid white; border-radius: 10px; margin: 0; padding: 10px; background: white; color: darkgrey;">Expiration list</h1></div>
      <div>
        <ul style="list-style: none; padding: 0; margin: 10px; overflow-y: scroll">
          <li style="display: inline-block;">25 November</li>
          <li style="display: inline-block; color: grey; float: right;">
            <span style="padding: 0px 10px;">{{expired.length}}</span>
            <span style="padding: 0px 10px; color: red;">2</span>
            <span style="padding: 0px 10px; color: yellow">1</span>
          </li>              
        </ul>           
      </div>
    </div> 
    <div style="height: calc(100vh - 196px); overflow-y: scroll;">
      <ul class="row" style="list-style: none; padding: 0; margin: 0;">          
        <li *ngIf="inventory.length <= 0" class="col-12 text-center" style="padding: 10px 0px;">
          <div class="">Er zit niks meer in uwe frigo</div>
        </li>
        <li class="col-12" *ngFor="let item of expired; let l = index" [ngClass]="getColor(item.expired_date)">
          <div>
            <mat-checkbox class="example-margin" [(ngModel)]="item.checked"  (ngModelChange)="addRemoveExpired()" style="padding-left: 10px; padding-right: 10px; vertical-align: -webkit-baseline-middle;"></mat-checkbox>
            <span class="item-name">{{item.name}}</span>
            <span style="float: right; vertical-align: sub; max-width: 100px;">{{item.expired_since}}</span> <span style="float: right; padding-right: 10px; vertical-align: sub; padding: 5px;">{{item.amount}}</span>
            
          </div>
        </li>
        <li><div style="height: 40px; width: 100vw;"></div></li>
      </ul> 
    </div>
    <div class="text-center" routerLink="/add" (click)="addItem()" style="position: absolute; left: calc(50% - 25px); bottom: 17px; height: 50px; width: 50px; border: 1px solid #78ff78bd; border-radius: 50%; background: #78ff78bd; z-index: 400;">
      <a style="font-size: 30px; line-height: normal; vertical-align: text-top; color: white; font-weight: 600;">+</a>
    </div>
  </div>
</div> -->


<!-- VERSION 1 -->
  <!-- <mat-tab-group mat-stretch-tabs (selectedTabChange)="resetRemove()" class="" style="height: 100vh;">    
    <mat-tab label="expired">
      <ng-template mat-tab-label>
          <i class="material-icons" style="padding: 0px 5px;">sentiment_very_dissatisfied</i> 

      </ng-template>
      <div class="container" style="z-index: 1;"> 
        <ul class="row" style="list-style: none; padding: 0; margin-bottom: 0;">          
          <li *ngIf="inventory.length <= 0" class="col-12 text-center" style="padding: 10px 0px;">
            <div class="">Er zit niks meer in uwe frigo</div>
          </li>
          <li class="col-12" *ngFor="let item of expired; let l = index" [ngClass]="getColor(item.expired_date)">
            <div>
              <mat-checkbox class="example-margin" [(ngModel)]="item.checked"  (ngModelChange)="addRemoveExpired()" style="padding-left: 10px; padding-right: 10px; vertical-align: -webkit-baseline-middle;"></mat-checkbox>
              <span class="item-name">{{item.name}}</span>
              <span style="float: right; vertical-align: sub; max-width: 100px;">{{item.expired_since}}</span>
              
            </div>
          </li>
        </ul> 
        
      </div>                     
      
    </mat-tab>       -->
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">add</i>        
      </ng-template>
      <div class="row">    
        <div class="col-12" style="">
          <div class="container">            
            <form class="row" [formGroup]="addForm" (ngSubmit)="createInventory(addForm.value)">
              <div class="col-12 text-center" style="width: 100%; background-color: #e0e0e0; font-weight: 500; font-size: 1.2em;">
                <span>Add food</span>
              </div>
              <div>
                <button class="btn btn-info" routerLink="/scan" style="width: 100%;">scan</button>
              </div>
              <div class="col-12 form-group" style="margin-top: 20px;">
                <mat-form-field style="width: 100%;">
                  <input type="text" formControlName="name" matInput placeholder="Naam">
                  <mat-icon matSuffix routerLink='/scan'><i class="fas fa-barcode"></i></mat-icon>                  
                </mat-form-field>          
              </div>              
              <div class="col-12 form-group">
                <mat-form-field class="example-full-width" style="width: 100%;">
                  <input formControlName="expiration_date" matInput [matDatepicker]="picker" placeholder="Verval datum">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>          
              </div>
              <div class="col-12 form-group">
                <button type="submit" class="btn btn-success text-light" style="width: 100%;">Add</button><i class="material-icons">add_box</i>
              </div>
            </form>
          </div>
          <zxing-scanner></zxing-scanner>
        </div>  
      </div>
    </mat-tab> -->
    <!-- <mat-tab label="mijne frigo">
      <ng-template mat-tab-label>
          <i class="material-icons" style="padding: 0px 5px;">view_list</i>
          
      </ng-template>
      <div class="container" style=""> 
        <ul class="row" style="list-style: none; padding: 0; margin-bottom: 0;">
            <li class="text-center" style="width: 100%; font-weight: 500; font-size: 1.2em;">              
              <mat-form-field style="width: 100%; padding: 0px 15px 0px 25px;">
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">{{food.name}}</mat-option>
                </mat-select>
              </mat-form-field>                 
            </li>
          <li *ngIf="inventory.length <= 0" class="col-12 text-center" style="padding: 10px 0px;">
            <div class="">Er zit niks meer in uwe frigo</div>
          </li>
          <li class="col-12" *ngFor="let item of inventory; let l = index">
            <div>
              <mat-checkbox class="example-margin" [(ngModel)]="item.checked"  (ngModelChange)="addRemove()" style="padding-left: 10px; padding-right: 10px; vertical-align: -webkit-baseline-middle;"></mat-checkbox>
              <span class="item-name">{{item.name}}</span>
              <span style="float: right; vertical-align: sub; max-width: 100px;">{{item.expiration_date}}</span>
              
            </div>
          </li>
        </ul> 
        
      </div>                             
    </mat-tab>                    
  </mat-tab-group>
  
  <div *ngIf="blnDelete" class="control" style="position: absolute; width: 100%; bottom: 10vh; padding: 5px; z-index: 5;">
    
    <button class="btn btn-danger" style="width: 30%; margin: 0px 5px;" (click)="deleteInventory()">Delete</button>
  </div>   -->

