.item-name{
    display: inline-block; 
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    vertical-align: sub;
}

@media screen 
  and (max-width: 736px){  
    .item-name{
        width: 100px;
        vertical-align: text-top;
    }
}

li{
    height: fit-content;
}