.container-fluid{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;     
    transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.backgrounds{
    overflow: hidden;
    height: inherit;
}

.background{  
    display: inline-block;
    width: 100vw;
    height: 100vh;     
    transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
}

.bol{
    opacity: 0.5;
}

.bol--active{
    opacity: 1;
}

.show{
   
}

.hide{
    /* width: 0vw; */
    display: none;    
}

.item-name{
    display: inline-block; 
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    vertical-align: sub;
}

@media screen 
  and (max-width: 736px){  
    .item-name{
        /* width: 100px; */
        vertical-align: text-top;
    }
}

li{
    height: fit-content;
}

/*li:nth-child(0) {
    background: red;
  }

li:nth-child(1) {
    background: #42d692;
  }
  
  li:nth-child(2) {
    background: #4986e7;
  }
  
  li:nth-child(3) {
    background: #d06b64;
  }
  
  li:nth-child(4) {
    background: #42d692;
  } */

  .item-delete{
      opacity: 0;
      transition: all 0.4s ease-in-out;
  }

  .item-delete--show{
      opacity: 1;
  }

  .mat-focused .placeholder {
    color: transparent !important;
    }

  .sub-but{
      display: none;
  }

  .mat-focused .sub-but{
        display: block;
    }

  ::ng-deep .mat-form-field-infix{
        border: none;
    }

  ::ng-deep .mat-form-field-label .ng-star-inserted {
        
      } 
     
  ::ng-deep .mat-form-field-label .ng-star-inserted .mat-empty .mat-form-field-empty{
        display: block;
    }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
      padding-bottom: 0px;
  }

  

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-checkbox-frame, ::ng-deep .mat-checkbox-background {
    border-radius: 50% !important;
}