<div class="pos-f-t bottom-nav">  
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>    
  <nav class="container navbar-light" style="border-top: 1px solid #e0e0e0;">
    <ul class="row text-center">
      <li class="col-3">
        <a class="nav-link" routerLink="/profile">
          <div>
            <span style="display: block;"><i class="material-icons" style="vertical-align: middle;">person</i></span>
            <span style="display: block; font-size: 10px; vertical-align: top;">Profile</span>
          </div>          
        </a>
      </li>
      <li class="col-3">
        <a class="nav-link" href="#">
          <div>
            <span style="display: block;"><i class="material-icons" style="vertical-align: middle;">feedback</i></span>
            <span style="display: block; font-size: 10px; vertical-align: top;">Feedback</span>
          </div>          
        </a>
      </li>
      <li class="col-3">
        <a class="nav-link" href="#">
          <div>
            <span style="display: block;"><i class="material-icons" style="vertical-align: middle;">message</i></span>
            <span style="display: block; font-size: 10px; vertical-align: top;">Contact</span>
          </div>          
        </a>
      </li>
      <li class="col-3">
        <a class="nav-link" href="#">
          <div>
            <span style="display: block;"><i class="material-icons" style="vertical-align: middle;">favorite</i></span>
            <span style="display: block; font-size: 10px; vertical-align: top;">Support</span>
          </div>          
        </a>
      </li>
    </ul>
    <!--<a class="" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="display: inline-block;"></span>      
    </a>-->
  </nav>
</div>
