.bottom-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar{
    padding: 0 0.5em;
}

.nav-link{
    padding: 0;
}

.navbar-toggler-icon{
    width: 2em;
    height: 2em;
}

ul{  
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

ul il{

}

ul li a{
    color: darkcyan;
}

ul li a:hover{
    color: grey;
}