<div class="container-fluid" style="z-index: 10;">
  <div class="row">
    <div class="col-12">
      <top-nav style="display: block"></top-nav>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" style="display: block; width: 300px; margin-left: auto; margin-right: auto;">        
        <div class="example-container" style="margin-top: 80px;">

          <div *ngIf="blnError" class="alert-danger text-center">
            <h6>{{errorMsg}}</h6>
          </div>

          <div class="text-center" style="margin: 30px 0px">
            <h2>Log in</h2>
          </div>
          <div style="width: 270px; margin-left: auto; margin-right: auto;">
            <mat-form-field style="width: 100%;">
              <input formControlName="username" #username id="username" matInput placeholder="Username">
            </mat-form-field>
          </div>                          
          <div style="width: 270px; margin-left: auto; margin-right: auto;">
            <mat-form-field style="width: 100%;">
              <input formControlName="password" #password id="password" [type]="blnPassword ? 'password' : 'text'" matInput placeholder="Password">              
              <mat-icon matSuffix (click)="changeType()">sentiment_very_satisfied</mat-icon>              
            </mat-form-field>
          </div>   
          <div class="creat-account-container" style="">          
            <button class="btn btn-primary login-button" type="submit" [disabled]="!loginForm.valid" style="width: 300px;">Log in</button>
          </div>       
          
          <div style="width: 270px; margin: 10px auto;">            
            <a routerLink="/register"><span class="" style="color: lightgrey; font-size: 12px; font-weight: 200;">No account yet?</span></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  