<div class="container-fluid">  
  <div class="row" style="margin: 0">
    <div class="col-12" style="padding: 0;">
      <div class="text-center" style="padding: 20px; background: linear-gradient(-90deg,#52e2ab,#56d4da)">
        <h1 style="border: 1px solid white; border-radius: 10px; margin: 0; padding: 10px; background: white; color: darkgrey;">basket</h1>            
      </div>  
      <div>
        <ul style="list-style: none; padding: 0; margin: 10px;">
          <li style="display: inline-block;">25 November</li>
          <li style="display: inline-block; color: grey; float: right;">
            <span style="padding: 0px 10px;">{{totalSel}}</span>                 
            <span style="padding: 0px 10px;">{{basket.length}}</span> 
          </li>              
        </ul>           
      </div>    
    </div>
  </div>
  <div class="row" style="padding: 0">
    <div class="col-12" style="height: calc(100vh - 235px); overflow-y: scroll;">
      <div *ngIf="basket.length > 0">
        <button (click)="deleteAll()" class="generate-fav-button button-generate">Delete all!</button>        
      </div>
      <ul>
        <li *ngIf="basket.length <= 0" class="col-12 text-center" style="padding: 10px 0px;">
          <div class="">Er is niks</div>
          <div style="padding-top: 200px;">
            <button (click)="generateFavorites()" class="generate-fav-button button-generate">Generate from favorites</button>
          </div>
        </li>
        <li *ngFor="let item of basket;" style="">
          <div style="">
            <mat-checkbox class="example-margin" [(ngModel)]="item.checked"  (ngModelChange)="RemoveBasketItems()" style="padding-left: 10px; padding-right: 10px; vertical-align: -webkit-baseline-middle;"></mat-checkbox>
            <span class="item-name" [class.strikethrough]="item.checked" style="vertical-align: text-top;">{{item.name}}</span>                    
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="container" style="z-index: 1;">
  <div>
    <form class="row" [formGroup]="addForm" (ngSubmit)="addItemToBasket(addForm.value)" style="background-color: #78ff78bd;">                   
      <div class="col-12 form-group" style="margin-top: 20px;">
        <div class="form-group" style="margin: 0;">          
          <input formControlName="name" type="text" class="form-control" aria-describedby="addItem" placeholder="Add item">          
          <a routerLink="/scan" style="color: black; position: absolute; top: 3px; right: 20px;"><i class="fas fa-barcode fa-2x"></i></a>
          <button class="add" type="submit" style="position: absolute; position: absolute; width: 30px; border: 1px solid #e0e0e0; border-radius: 50%; top: 4px; right: 60px; height: 30px; text-align: center;">+</button>
        </div>        
      </div>
    </form>
  </div>
  <div>
    <ul class="row" style="list-style: none; padding: 0; margin-bottom: 0;">    
      <li *ngIf="basket.length <= 0" class="col-12 text-center" style="padding: 10px 0px;">
        <div class="">No items in your shopping basket</div>
      </li>
      <li class="col-12" *ngFor="let item of basket; let l = index" style="padding: 0;">
        <div style="padding: 10px 10px; border-bottom: 1px solid #e0e0e0;">
          <mat-checkbox class="example-margin" [(ngModel)]="item.checked"  (ngModelChange)="RemoveBasketItems()" style="padding-left: 10px; padding-right: 10px; vertical-align: -webkit-baseline-middle;"></mat-checkbox>
          <span class="item-name" [class.strikethrough]="item.checked" style="vertical-align: middle;">{{item.name}}</span>                    
        </div>
      </li>
    </ul> 
  </div>  
</div>                      -->
