<!--<div class="container-fluid" style="padding: 0;">-->
  <!-- <div (swipeleft)="swLeft($event)" (swipeRight)="swRight($event)" class="backgrouds">
    <div class="background show" style="background-color: #42d692;"></div>
    <div class="background hide" style="background-color: #4986e7;"></div>
    <div class="background hide" style="background-color: #d06b64;"></div>
    <div class="background hide" style="background-color: #42d692;"></div>
    <div class="background hide" style="background-color: #4986e7;"></div>
  </div> -->

  <!-- <div class="container-fluid"> -->
    <!-- <div class="row justify-content-center">
      <div class="col-12 col-md-5"> -->
        <router-outlet></router-outlet>
        <navbar *ngIf="blnShowNav" (activeRouter)="addItem($event)"></navbar>
      <!-- </div>
    </div> -->
  <!-- </div>     -->
<!--</div>-->
