<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <div class="background"></div>
      <div class="blackscreen"></div>
      <div class="hero-container" style="">
        <div class="hero-container__title">
          <h1>Waste less</h1>
        </div>
        <div class="hero-container__copy">
          <p>Save money & eat your food before it expires</p>
        </div>        
      </div>
      <div *ngIf="!loggedIn()" class="action-container">
        <div class="creat-account-container" style="">          
          <button routerLink="/register" class="btn btn-primary register-button">create an account</button>
        </div>
        <div class="login-container">
          <div>            
            <a routerLink="/login" ><span class="" style="color: lightgrey; font-size: 12px; font-weight: 200;">Already have an account?</span></a>
          </div>
        </div>
      </div>
      <div *ngIf="loggedIn()" class="action-container">
        <div class="continue-container">
          <button routerLink="/inventory" class="btn btn-primary register-button">Go explore</button>
        </div>
      </div>
    </div>
  </div>
</div>