<div class="container" style="height: calc(100vh - 50px); overflow-y: scroll;">
  <div class="row">
    <div class="col-12">
      <div class="hero-thankyou text-center">
        <h2>Thank you</h2>
        <p>First of all, thank you for checking out this 'waste less' app. 
          This means that you might want to support us in our mission to create 
          a more conscious world towards food waste.</p>
        <p>The reason we are so motivated is because even in the 21 century there are still 
          people having a hard time finding qualitative and affordable food and we are not only 
          talking about the people in underdeveloped countries.</p>

        <h2>How can you support us even more?</h2>
        <ul>
          <li>
            <h5>Sign up to our monthly newsletter.</h5>
            <p>Every month we send a newsletter regarding the new inititives, 
              updates and community works of fellow innovators and social heroes.
            </p>
          </li>
          <li>
            <h5>Give us constructive feedback</h5>
            <p>Let us know how we can improve our service and help the world towards a better, waste less future.</p>
          </li>
          <li>
            <h5>Spread the word</h5>
            <p>Share our message on your favorite social media outlet or talk about us the old fashioned way.</p>
            <div>
              <ul>
                <li></li>
              </ul>
            </div>
          </li>
          <li>
            <h5>Donate</h5>
            <p>You can help us keeping this initiative alive by donating. 
              50% of all donations go to feeding the less fortunate and other support organisations 
              in our local and not so local communities.</p>
              <button class="btn btn-warning donate-button">Donate</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
