#body {
    background-image:
      url("https://i.pinimg.com/originals/e5/aa/b4/e5aab4e49c9ac29532e4b187e4059ae3.jpg") ;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  #container {
    width: 1000px;
    height: auto;
    margin-top: 200px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background: #FFF;
    opacity: 0.65;
  }
  
  #text {
    font-family: "Courier New", Courier, monospace;
    font-size: 80px;
    text-align: center;
    color: black;
  }
  
  section {
    height: 100vh;
    width: 100%;
    display: table;
  
  }
  section.ok{
    background-color: rgb(255, 0, 0);
  }
  
  p{
    color: black;
    font-family: arial;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Courier New", Courier, monospace;
    font-size: 80px;
  }
  
  .scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }